<body  id="your-element-selector" class="BGbody">

    <div class="wrapper">
      <div class="sidebar-wrapper"  style="background: #433A55">
        <div class="profile-container">
          <img class="profile" src="../../assets/pictures/profil1.png" alt="" style="width: 10em; border-radius: 25px" />
          <h1 class="name">Morgan NOTT</h1>
          <h3 class="tagline">Développeur d'Application Web & Mobile</h3>
        </div>

        <div class="contact-container container-block">
          <ul class="list-unstyled contact-list">
            <li class="email"><i class="fas fa-envelope"></i><a href="mailto: yourname@email.com">morgan.nott@<br>students.campus.academy</a></li>
            <li class="website"><i class="fas fa-globe"></i><a href="https://morgan-nott.fr/" target="_blank">Morgan-NOTT.fr</a></li>
            <li class="linkedin"><i class="fab fa-linkedin-in"></i><a href="https://www.linkedin.com/in/morgan-nott/" target="_blank"> {{ linkedinPerso }} </a></li>
            <li class="github"><i class="fab fa-github"></i><a href="https://github.com/Ketzatl?tab=repositories" target="_blank">{{ githubPerso }}</a></li>
          </ul>
        </div>

        <div class="education-container container-block" style="background: #5a6268">
          <h2 class="container-block-title"><img class="mb-2 mr-2" src="../../assets/logos/school.png" alt="" width="25em">Etudes</h2>
          <div class="item">
            <h4 class="degree">Bachelor Développeur d'Applications Web & Mobiles</h4>
            <h5 class="meta"><a href="https://campus.academy/">Campus Academy Nantes</a></h5>
            <div class="time">Depuis 2019</div>
          </div>
          <div class="item">
            <h4 class="degree">BAC STT (Sciences & Technologies Tertiaires)</h4>
            <h5 class="meta"><a href="https://www.la-joliverie.com/lycee-general-technologique/">La Joliverie</a></h5>
            <div class="time">1996-1998</div>
          </div>
        </div>

        <div class="languages-container container-block" style="background: #5a6268">
          <h2 class="container-block-title"><img class="mb-2 mr-2" src="../../assets/logos/earth.png" alt="" width="25em">Langues Etrangères</h2>
          <ul class="list-unstyled interests-list">
            <li>Anglais <span class="lang-desc">Intérmédiaire +</span></li>
            <li>Espagnol <span class="lang-desc">Intérmédiaire</span></li>
            <li>Chinois<span class="lang-desc">Débutant <a href="https://www.superprof.fr/professeur-chinois-donne-cours-chinois-mandarin-nantes-reze-vertou-st-sebastien.html">(Cours du soir - Professeur : Qirui Liu)</a></span></li>
          </ul>
        </div>

        <div class="interests-container container-block" style="background: #5a6268">
          <h2 class="container-block-title"><img class="mb-2 mr-2" src="../../assets/logos/people.png" alt="" width="25em">Interêts</h2>
          <ul class="list-unstyled interests-list">
            <li>Musique Assistée par Ordinateur</li>
            <li>Voyages</li>
            <li>Hackathons, Workshop (Kokotte, La Cantine du Numérique, etc...)</li>
          </ul>
        </div>

      </div>

      <!-- ------------------------ PROJET PROFESSIONNEL -------------------------------- -->

      <div class="main-wrapper">

        <section class="section summary-section">
          <img class="mb-2" src="../../assets/logos/management.png" alt="" width="35em">
          <h2 class="section-title">Projet Professionnel</h2>
          <div class="summary">

            <p> Dans le cadre d’une reconversion, je suis le cursus BACHELOR - Développeur Concepteur
              d’Application, en 3ans, dont deux
              en Alternance. Je me forme aussi
              au métier de Développeur WEB
              FullStack en Autodidacte (Udemy,
              Elephorm...) et passe des validations
              en Anglais technique.</p>

          </div>
        </section>


        <section class="section summary-section">
          <h2 class="section-title">Expériences professionnelles</h2>
          <div class="summary">

            <img class="mb-2" src="../../assets/logos/GRTGazLogo.png" alt="" width="50em">
            <p> Je suis actuellement en stage en tant que Développeur Concepteur d'Application Web et Mobile chez GRTGaz (DSI). Cette expérience me permet de lier la théorie vue au cours de cette 1ère année, à la réalité de l'Entreprise. C'est avec un grand plaisir et beaucoup de motivation que je me familiarise petit à petit aux outils et technologies utilisés ainsi qu'aux projets sur lesquels je vais participer. </p>

            <a href="https://www.digital-inside.fr/single-post/2017/10/06/La-transformation-digitale-de-GRTgaz-un-cas-d%C3%A9cole">article : "La transformation digitale de GRTgaz : un cas d'école"</a>

          </div>
        </section>

        <!-- ------------------------ PROJETS INFORMATIQUES -------------------------------- -->

        <section class="section experiences-section">
          <img class="mb-2" src="../../assets/logos/technology.png" alt="" width="35em">
          <h2 class="section-title">Projets Informatiques</h2>

          <!-- ------------------------ Projet 1 -------------------------------- -->

          <div class="item">
            <div class="meta">
              <div class="upper-row">
                <h3 class="job-title"><p class="text-muted"><img class="mb-2" src="../../assets/logos/hands-and-gestures.png" alt="" width="20em"> 2020 - En cours</p> - Création d’une Application Mobile : Fil d’actualités InterCampus, dans le cadre d’un Projet Startup Factory</h3>
              </div>
              <div class="company">Startup Factory, Campus Academy</div>
            </div>
            <div class="details">
              <p>- Apprentissage et Utilisation de AngularJS, Ionic, Html/CSS,
                typescript et Firebase</p>
              <p></p>
            </div>
          </div>

          <!-- ------------------------ Projet 2 -------------------------------- -->



          <div class="item">
            <div class="meta">
              <div class="upper-row">
                <h3 class="job-title"><p class="text-muted"><img class="mb-2" src="../../assets/logos/hands-and-gestures.png" alt="" width="20em">  2020 - En cours</p> - Création d’un réseau social sur Mobile & Web, dans le
                  cadre de notre Projet Startup Factory</h3>
              </div>
              <div class="company">Startup Factory, Campus Academy</div>
            </div>
            <div class="details">
              <p>- Approfondissement des connaissances acquises et étudiées en
                cours : Mysql, pHpmyadmin, pHp, Javascript, GitHub,...</p>
            </div>
          </div>

        </section>

        <!-- -------------------------- STARTUP FACTORY ----------------------- -->

        <section class="section projects-section">
          <img class="mb-2" src="../../assets/logos/transportation.png" alt="" width="35em">
          <h2 class="section-title">PROJET STARTUP FACTORY</h2>
          <div class="intro">
            <p>Durant ces 3 prochaines années de
              BACHELOR, nous allons développer
              des projets d’applications et logiciels
              en simulant le modèle Startup.</p>
            <p>
              Notre groupe est formé des différentes
              spécialités au sein du campus (Design,
              Conception, Communication et animation 3D).</p><br>

            <!-- ------------- COMPETENCES TECHNIQUES ----------------------- -->

            <section class="skills-section section">
              <img class="mb-2" src="../../assets/logos/seo-and-web.png" alt="" width="35em">
              <h2 class="section-title">Compétences Techniques</h2>
              <div class="skillset">
                <div class="item">
                  <h3 class="level-title">Python</h3>
                  <div class="progress level-bar">
                    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>

                <div class="item">
                  <h3 class="level-title">C#</h3>
                  <div class="progress level-bar">
                    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 15%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>

                <div class="item">
                  <h3 class="level-title">Javascript &amp; jQuery</h3>
                  <div class="progress level-bar">
                    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 15%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>

                <div class="item">
                  <h3 class="level-title">PHP & CodeIgniter</h3>
                  <div class="progress level-bar">
                    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>

                <div class="item">
                  <h3 class="level-title">HTML5 &amp; CSS</h3>
                  <div class="progress level-bar">
                    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>

                <div class="item">
                  <h3 class="level-title">Mysql</h3>
                  <div class="progress level-bar">
                    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 30%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>

                <div class="item">
                  <h3 class="level-title">Angular</h3>
                  <div class="progress level-bar">
                    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 30%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>

                <div class="item">
                  <h3 class="level-title">Ionic</h3>
                  <div class="progress level-bar">
                    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>


                <div class="item">
                  <h3 class="level-title">GitHub</h3>
                  <div class="progress level-bar">
                    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>

                <div class="item">
                  <h3 class="level-title">LateX</h3>
                  <div class="progress level-bar">
                    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <br>
                <p>* Compétences en Cours d'Aquisition</p>

              </div>
            </section>


            <section class="skills-section section">
              <img class="mb-2" src="../../assets/logos/employee.png" alt="" width="35em">
              <h2 class="section-title">Outils & Autres</h2>
              <div class="skillset">
                <div class="item">
                  <h3 class="level-title">Dbeaver</h3>
                  <div class="progress level-bar">
                    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 15%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>

                <div class="item">
                  <h3 class="level-title">Postman</h3>
                  <div class="progress level-bar">
                    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 15%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>

                <div class="item">
                  <h3 class="level-title">TortoiseGit</h3>
                  <div class="progress level-bar">
                    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 15%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>

                <div class="item">
                  <h3 class="level-title">GitHub</h3>
                  <div class="progress level-bar">
                    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 35%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>

                <div class="item">
                  <h3 class="level-title">GitLab</h3>
                  <div class="progress level-bar">
                    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 30%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>

                <div class="item">
                  <h3 class="level-title">Shell Unix</h3>
                  <div class="progress level-bar">
                    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>

                <div class="item">
                  <h3 class="level-title">Regex</h3>
                  <div class="progress level-bar">
                    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 20%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>


                <div class="item">
                  <h3 class="level-title">oData</h3>
                  <div class="progress level-bar">
                    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 15%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>

                <div class="item">
                  <h3 class="level-title">API Rest</h3>
                  <div class="progress level-bar">
                    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 15%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>

                <div class="item">
                  <h3 class="level-title">Teams</h3>
                  <div class="progress level-bar">
                    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 75%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>


                <div class="item">
                  <h3 class="level-title">Webex</h3>
                  <div class="progress level-bar">
                    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 75%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>

                <div class="item">
                  <h3 class="level-title">Slack</h3>
                  <div class="progress level-bar">
                    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 65%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>

                <div class="item">
                  <h3 class="level-title mt-4">Microsoft Office, Xmind, GantProject, StarUML, Sketch, AdobeXD</h3>
                </div>

                <div class="item">
                  <h3 class="level-title">JetBrains IDE (Webstorm, IntelliJ, Pycharm, etc...), Visual Studio, Visual Studio Code, Brackets...</h3>
                </div>


                <br>

              </div>
            </section>

          </div>

        </section>

      </div>

    </div>

<br><br>

    <br>


</body>
