<nav class="navbar navbar-expand-lg">



  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">

      <a class="navbar-brand ml-3" [routerLink]="['/home']">Accueil<!--<img src="../../assets/logos/construction.png" alt="" width="25em" class="ml-lg-4 mr-2">--></a>

      <button class="navbar-toggler text-center" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>Menu
      </button>

      <li class="nav-item">
        <a class="nav-link ml-4" [routerLink]="['/presentation']"><!-- <img src="../../assets/logos/profile.png" alt="" width="15em" class="ml-lg-4 mr-2">-->Présentation</a>
      </li>


      <li class="nav-item">
        <a class="nav-link ml-4" target="_blank" href="../../assets/documents/MorganNOTT_LateXCV.pdf"><!-- <img src="../../assets/logos/letter.png" alt="" width="15em" class="ml-lg-4 mr-2">-->C.V.</a>
      </li>

      <li class="nav-item">
        <a class="nav-link ml-4" [routerLink]="['/cv']"><!-- <img src="../../assets/logos/application.png" alt="" width="15em" class="ml-lg-4 mr-2">-->C.V. en ligne</a>
      </li>


      <li class="nav-item">
        <a class="nav-link ml-4" [routerLink]="['/projets']"><!-- <img src="../../assets/logos/computer.png" alt="" width="15em" class="ml-lg-4 mr-2">-->Projets</a>
      </li>

      <div class="btn-group-sm dropleft">
        <button type="button" class="btn btn-light dropdown-toggle mt-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Menu
        </button>

        <div class="dropdown-menu">
          <!-- Dropdown menu links -->
          <a class="dropdown-item"  target="_blank" href="https://www.linkedin.com/in/morgan-nott"><img src="../../assets/logos/linkedin.png" alt="" width="35em" class="ml-lg-4 mr-4">Vers LinkedIn</a>
          <a class="dropdown-item" target="_blank" href="https://github.com/Ketzatl"><img src="../../assets/logos/github2.png" alt="" width="35em" class="ml-lg-4 mr-4">Vers GitHub</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/contact']"><img src="../../assets/logos/internet.png" alt="" width="35em" class="ml-lg-4 mr-4">Me Contacter</a>
        </div>

      </div>


      <!--
            <li class="nav-item dropdown ">
              <a class="nav-link dropdown-toggle ml-5" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="../../assets/logos/signs.png" alt="" width="35em" class="ml-lg-4">
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item"  target="_blank" href="https://www.linkedin.com/in/morgan-nott"><img src="../../assets/logos/linkedin.png" alt="" width="35em" class="ml-lg-4 mr-4">Vers LinkedIn</a>
                <a class="dropdown-item" target="_blank" href="https://github.com/Ketzatl"><img src="../../assets/logos/github2.png" alt="" width="35em" class="ml-lg-4 mr-4">Vers GitHub</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" [routerLink]="['/contact']"><img src="../../assets/logos/internet.png" alt="" width="35em" class="ml-lg-4 mr-4">Me Contacter</a>
              </div>
            </li>
      -->

    </ul>

    <!--

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>

    -->

  </div>
</nav>
