.navbar-toggler {
  background-color: darkgrey;
}

.navbar {
  background-color: #5C595E;
}

.dropdown-menu {
  background-color: rgba(63,64,63,0.8);
  /*opacity: 90%;*/
}


a {
  color: aliceblue;
  font-weight: bold;
  font-family: 'Fredoka One', cursive;
}

/* ----------------------------------------------- */

.btn-group-sm {

}

@media (min-width: 950px) {
  .btn-group-sm {
    margin-left: 44vw;
  }
}


button {
  color: #5C595E;
  font-family: 'Fredoka One', cursive;
  margin-left: 50vw;
  margin-bottom: 1vh;
}

@media (min-width: 950px) {
  button {
    color: #5C595E;
    font-family: 'Fredoka One', cursive;
    margin-left: 0;
  }
}
