/* Sticky Footer Classes */


.elem {
  justify-content: center;
  margin-bottom: 2vh;
  width: auto;
  margin-left: 44px;
  margin-right: 44px;
}

@media (min-width: 576px) {
  .elem {
    margin-right: 2vw;
    margin-left: 2vw;
  }
}



.container4 {
  display: flex;
  flex-direction: column;
}

@media (min-width: 576px) {
  .container4 {
    display: flex;
    flex-direction: row;
  }
}

.element {
  margin: 2vw;
  margin-bottom: 4vh;
}

@media (min-width: 430px) {
  .element {
    margin: 2vw;
    margin-bottom: 4vh;
  }
}


h1 {
  font-size: 1.8em;
  margin-bottom: 1vh;
}

@media (min-width: 430px) {
  h1 {
    font-size: 2.2em;
    margin-bottom: 1vh;
  }
}


.container {
  flex-direction: column;
  width: auto;
  display: flex;
  justify-content: center;
}

@media (min-width: 766px) {
  .container {
    display: flex;
    flex-direction: row;
    width: auto;
  }
}

.container2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: auto;
}

@media (min-width: 766px) {
  .container2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.btn {
  color: black;
  background-color: #c69dd2;
}



.sm1 {
  margin-right: 0.5vw;
}

img {
  height: 8vh;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: unset;
}

/* Other Classes for Page Styling */

body {
  background: #2E2C2F;

}

small {
  color: white;
  font-weight: bold;
  font-family: 'Rubik', sans-serif;
}

footer {
  background-color: #5C595E;
}

p {
  font-family: 'Rubik', sans-serif;
}

h1 {
  font-family: 'Permanent Marker', cursive;
}
