<body class="d-flex flex-column">



<!-- ----------------------------------------------------------- -->

<div id="page-content">

  <div class="container text-center">

    <div class="row justify-content-center">
      <div class="col-md-7 mt-4 mb-4">

        <h1 class="font-weight-light text-white text-center">N'hésitez pas à me contacter !!</h1>

      </div>
    </div>


  </div>
</div>

<footer id="sticky-footer" class="py-4 text-white-50">

  <!--
  <form class="container4 input-group">

    <input type="text" class="elem form-control form-control rounded" placeholder="Entrez votre adresse mail..."
           aria-label="Your email" aria-describedby="basic-addon2">

    <div class="elem input-group-append">
      <button class="btn btn-primary rounded my-2 my-sm-0" type="submit" value="Valider">Inscrivez-vous !</button>
    </div>

  </form>
  -->
  <!-- ---------------- CONTAINER --------------------- -->

  <div class="container2">

    <!-- ---------------- Element1 --------------------- -->




    <div class="element">
      <a href="https://www.linkedin.com/in/morgan-nott" target="_blank"><img src="../../assets/logos/linkedin.png"></a>
    </div>




    <!-- ---------------- Element2 --------------------- -->



    <div class="element">
      <a href="https://www.facebook.com/passedevant.net/" target="_blank"><img src="../../assets/logos/github2.png"></a>
    </div>

    <!-- ---------------- Fin Elements --------------------- -->

  </div>

  <div class="container text-center">
    <small class="sm1">Développé par :  </small>
    <br>
    <small> Copyright &copy; morgan-nott.fr</small>
  </div>
</footer>
</body>
