.card {
  margin-top: 8vh;
  margin-bottom: 8vh;
  background: lightgray;
}

.card:hover {
  box-shadow: 1px 4px 35px grey;
  cursor: pointer
}

.BGbody {
  background-image: url(https://cdn.pixabay.com/photo/2017/10/13/15/29/black-coffee-2847957_1280.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

/*.card-subtitle {
  color: #ff6d00 ;
}*/

.card-img-top {
  height: 25vh;
}

h1 {
  padding-bottom: 8vh;
  margin: 0;
  font-weight: bold;
  font-size: 4em;
  font-family: 'Fredoka One', cursive;
  color: aliceblue;
}


h2 {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 8vh;
  font-family: 'Rubik', sans-serif;
  color: #093A38;
}
