<body class="BGbody">


<div class="container">
  <div class="row">

    <div class="col-sm-12 col-md-6 col-lg-4 text-center" *ngFor="let project of projects; let i = index">

      <div class="card " style="width: 18rem;">
        <img class="card-img-top img-fluid" src="{{ project.picture }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ project.title }}</h5>
          <h6 class="card-subtitle text-info mb-2">{{ project.category }}</h6>
          <p class="card-text">{{ project.description }}</p>
          <a href="{{ project.lienProjet }}" *ngIf="project.lienProjet" target="_blank" class="card-link">Vers Projet</a>
          <a href="{{ project.lienGit }}" class="card-link" target="_blank">Lien GitHub</a>
          <p [ngStyle]="{color: getFinishState(i)}" class="mt-4">
            <span *ngIf="!project.finish">En cours</span>
            <span *ngIf="project.finish">Terminé</span>
          </p>
        </div>
      </div>

    </div>

  </div>

</div>






</body>
