<body id="haut" class="BGbody">

    <div>
      <h2 class="text-center">Présentation</h2>
      <h1 class="text-focus-in text-center">Morgan NOTT</h1>
      <h1 class="text-center">Etudiant Développeur Concepteur</h1>
      <h1 class="text-center  text-focus-in text-center mb-lg-4">Web & Mobile</h1>
    </div>

    <div class="text-center">
      <img class="profil1 kenburns-bottom rounded-lg" src="../../assets/pictures/profil1.png" alt="photo morgan NOTT développeur concepteur d'application web et mobile">
    </div>


    <h2 class="h2title text-center text-light">Campus Academy Nantes</h2>

    <div class="text-center">
      <img  class="logo kenburns-bottom mt-lg-5 mb-lg-5 img-fluid" src="../../assets/logos/logoCampusAcademy.png" alt="logo Campus Academy">
    </div>


    <div>
      <p class="text-center text-light">Dans le cadre d'une reconversion professionnelle, je suis un cursus BACHELOR Informatique, 'Développeur Concepteur FullStack' en 3 années. La 1ère année se déroule dans les locaux de "Campus Academy", les deux années suivantes se dérouleront en alternance, dans le cadre d'un contrat de professionnalisation.


      <p class="text-center text-light mb-lg-5 mt-lg-5">Auparavant "Conseiller de Vente spécialisé" puis "Gestionnaire de Rayon" en Grand Magasin de Bricolage (Leroy Merlin, Mr.Bricolage), j'ai décidé de me reconvertir dans un domaine qui allie à merveille, passion et avenir.
        Au travers de ces différentes expériences, j'ai pu aquérir et développer de nombreuses compétences (gestion d'équipe, relation client, rigueur, esprit d'équipe...).</p>


      <div class="text-center">
        <img class="batiCA rounded-lg mb-lg-5"  src="../../assets/pictures/campusNantes.jpg" alt="Campus academy Nantes Portfolio Morgan NOTT Développeur Concepteur web et mobile">
      </div>

    </div>

    <br>


</body>
