<!--Section: Contact v.2-->
<body>
  <section class="BGbody section mb-4">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4 pt-lg-5">Une question ?   Contactez-moi !</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5 ml-lg-4 mr-lg-4 ">Vous avez des questions ? N'hésitez pas à me contacter directement. Je me ferai un plaisir de vous répondre au plus vite.</p>

    <div class="row">

      <!--Grid column-->
      <div class="col-md-9 mb-md-0 mb-5">
        <form id="contact-form" name="contact-form" action="mail.php" method="POST">

          <!--Grid row-->
          <div class="row">

            <!--Grid column-->
            <div class="col-md-6">
              <div class="md-form mb-0">
                <label for="name" class="label1">Votre Nom</label>
                <input type="text" id="name" name="name" class="form-control ml-lg-4">
              </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6">
              <div class="md-form mb-0">
                <label for="email" class="mt-2 label1">Votre Email</label>
                <input type="text" id="email" name="email" class="form-control">
              </div>
            </div>
            <!--Grid column-->

          </div>
          <!--Grid row-->

          <!--Grid row-->
          <div class="row">
            <div class="col-md-12">
              <div class="md-form mb-0">
                <label for="subject" class="mt-2 label2">Sujet</label>
                <input type="text" id="subject" name="subject" class="form-control ml-lg-4">
              </div>
            </div>
          </div>
          <!--Grid row-->

          <!--Grid row-->
          <div class="row">

            <!--Grid column-->
            <div class="col-md-12">

              <div class="md-form">
                <label for="message" class="mt-2 label3">Votre message</label>
                <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea  ml-lg-4"></textarea>
              </div>

            </div>
          </div>
          <!--Grid row-->

        </form>

        <div class="text-center">
          <a class="btn btn-secondary mb-lg-4 font-weight-bold text-light" onclick="validateForm();">Envoyer</a>
        </div>

        <div class="status"></div>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-3 text-center">
        <ul class="list-unstyled mb-0">
          <li><i class="text-light fas fa-map-marker-alt fa-2x"></i>
            <p class="text-light font-weight-bold ">Nantes, 44400, FRANCE</p>
          </li>

          <li><i class="text-light fas fa-phone mt-4 fa-2x"></i>
            <p class="text-light font-weight-bold">0624.....6</p>
          </li>

          <li><i class="fas fa-envelope mt-4 fa-2x text-light"></i>
            <p class="text-light font-weight-bold">morgan-nott.fr</p>
          </li>
        </ul>
      </div>
      <!--Grid column-->

    </div>

  </section>
<!--Section: Contact v.2-->
</body>
