<body id="haut">

  <br>
  <div class="container">
    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#cookieModal">
      Voir Cookies
    </button>
  </div>
  <div class="modal fade" id="cookieModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="notice d-flex justify-content-between align-items-center">
            <div class="cookie-text">Ce site utilise des cookies pour vous offrir le meilleur service. En poursuivant votre navigation, vous acceptez l’utilisation des cookies.</div>
            <div class="buttons d-flex flex-column flex-lg-row">
              <a href="#a" class="btn btn-success btn-sm" data-dismiss="modal">J'Accepte</a>
              <a href="#a" class="btn btn-secondary btn-sm" data-dismiss="modal">En savoir plus !</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><br>

  <div>

      <h1 class="tracking-in-expand text-center pt-8">
        {{ nom }}
      </h1>

<!-- ----------------------------- Caroussel ----------------------------------- -->

    <div class="mt-lg-4 mb-lg-4 text-center" >
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block" src="../../assets/pictures/caroussel/caroussel1.png" alt="Morgan NOTT - Développeur Concepteur d'application Web et Mobile - Campus Academy">
          </div>

          <div class="carousel-item">
            <img class="d-block" src="../../assets/pictures/caroussel/caroussel2.png" alt="Morgan NOTT - Développeur Concepteur d'application Web et Mobile - Campus Academy">
          </div>

          <div class="carousel-item">
            <img class="d-block" src="../../assets/pictures/caroussel/caroussel3.png" alt="Morgan NOTT - Développeur Concepteur d'application Web et Mobile - Campus Academy">
          </div>

        </div>

        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    <!-- --------------------------- Titre 2/2 ------------------------------------------ -->
    <br>

      <h1 class="reduce text-center tracking-in-expand">
        <span>Développeur Concepteur</span>
        <br><br>
        <span>d'Applications</span>
        <br><br>
        <span> Web & Mobile Junior</span>
      </h1>

    <h2 class="text-center tracking-in-expand mt-4">
      {{ bachelor }}
    </h2>


    <!-- ---------------------------- Logo Campus Academy ---------------------------- -->
    <br>

    <div class="text-center">
      <img  class="kenburns-bottom text-center logoCA" src="../../assets/logos/logoCampusAcademy.png">
    </div>

  </div>


<br>

</body>
